<%- include('../../shared/includes/head', { pageTitle: 'Success' }) %>
    </head>

    <body>
        <%- include('../../shared/includes/header') %>
            <main>
                <h1>Order Successful</h1>
                <p>Visit <a href="/orders">the order page</a> for more details</p>
            </main>
            <%- include('../../shared/includes/footer') %>